.header {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0px;
		bottom: -150px;
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.2' fill-rule='evenodd'%3E%3Ccircle cx='1' cy='1' r='1'/%3E%3C/g%3E%3C/svg%3E");
		width: 150vw;
		left: calc(50% - 50vw);
		z-index: 0;
	}
	&:after {
		content: "";
		position: absolute;
		top: calc(100% + 50px);
		bottom: -150px;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(237, 233, 228, 1) 100%);
		width: 100vw;
		left: calc(50% - 50vw);
		z-index: 0;
	}
	.left {
		flex: 1 1 auto;
	}
	.logo {
		position: relative;
		left: -12px;
	}
	.content {
		padding: 1em 0em 2.5em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 1;
		position: relative;
	}
	.title {
		position: relative;
		left: -10px;
	}
	img {
		width: 35px;
	}
}
