text {
	font-weight: 300;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
	font-size: 14px;
}

.node rect,
.node circle,
.node ellipse,
.node polygon {
	stroke: #333;
	fill: #fff;
	stroke-width: 1.5px;
}

.edgePath path.path {
	stroke: #333;
	fill: none;
	stroke-width: 1.5px;
}
