@import "pages/variables.scss";

.graph {
	overflow-x: hidden;
}

.graph :global(.tasl-cytoscape) {
	max-width: 100%;
	min-width: 640px;
	height: 640px;
	background-color: whitesmoke;
	position: relative;
}
