.schemaClass {
	.classHeader {
		display: flex;
		margin-bottom: 15px;
		align-items: center;
		& > span {
			margin-right: 10px;
		}
	}
}
.attributeWrapper {
	margin: 15px 0px;
	margin-left: 25px;
}
