.previewBlock {
	display: block;
	color: black;
	// background: rgba(256,256,256,0.4);
	box-shadow: 0px 0px 0px 1px #aaa;
	text-decoration: none;
	border-radius: 2px;
	padding: 15px;
	&:hover {
		text-decoration: none;
		color: black;
		// background: rgba(256,256,256,0.2);
		box-shadow: 0px 0px 0px 1px black;
	}
	// .title,
	// .description {
	// 	margin-bottom: 6px;
	// }
	.title {
		font-weight: 600;
		display: flex;
		margin-bottom: 20px;
	}
	.description {
	}
	.details {
		font-family: Courier, monospaced;
		opacity: 0.6;
	}
	.dot {
		margin: 0em 1em;
	}
	.icon {
		margin-right: 5px;
	}
}
