.content {
	tab-size: 2;
	line-height: 1.4;

	margin-bottom: 6em;

	h1 {
		margin-bottom: 1em;
	}

	pre code {
		// background-color: #ddd8d8;
		// border-radius: 2px;
		padding: 1em;
		display: block;
	}

	h2 {
		font-size: 24px;
		margin-top: 2em;
	}

	code {
		font-family: SFMono-Regular, Menlo, Consolas, monospace;
		background-color: whitesmoke;
		border-radius: 2px;
		// border: 1px solid lightgrey;
		// padding: 0 4px;
		box-shadow: 0px 0px 0px 1px lightgrey inset;
		padding: 0 6px;
		display: inline-block;
		font-size: 15px;
	}
}
