.attribute {
	display: flex;
	margin-left: 15px;
	& > * {
		margin-right: 15px;
	}
	.select {
		select {
			height: 24px;
		}
		& > span {
			top: 4px;
		}
	}
	.checkbox {
		margin-bottom: 0px;
		padding-top: 1px;
		span {
			margin-right: 5px;
		}
	}
}
