.create {
	padding: 25px;
	.sectionHeader {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		&:not(:first-of-type) {
			margin-top: 50px;
		}
	}
	.number {
		border: 1px solid black;
		border-radius: 28px;
		height: 28px;
		width: 28px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 15px;
	}
	.title {
		font-weight: 600;
		font-size: 14px;
		position: relative;
	}
	.sectionContent {
		margin-left: 43px;
		&.sectionOne {
			display: flex;
			& > div {
				margin-right: 50px;
			}
		}
	}
	.option {
		margin-bottom: 0px;
	}
}

.currentStep {
	background-color: #a0c8ff;
}
