@import "pages/variables.scss";

.create {
	padding: 25px;
	.sectionHeader {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		&:not(:first-of-type) {
			margin-top: 50px;
		}
	}
	.number {
		border: 1px solid black;
		border-radius: 28px;
		height: 28px;
		width: 28px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 15px;

		&.completedStep {
			background-color: $completed-step-background-color;
			border: $completed-step-border;
			color: $completed-step-color;
		}
	}
	.title {
		font-weight: 600;
		font-size: 14px;
		position: relative;
	}
	.sectionContent {
		margin-left: 43px;
		&.sectionOne {
			display: flex;
			& > div {
				margin-right: 50px;
			}
		}
	}
	.option {
		margin-bottom: 0px;
	}
}

.icon {
	margin-left: 10px !important;
}
.behaviorRow {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	& > *:first-child {
		margin-left: 5px;
	}
}
.behaviorSelectButton {
	text-transform: capitalize;
}
.behaviorSelectHeader {
	text-transform: capitalize;
	font-weight: 700;
	opacity: 0.75;
	padding-bottom: 5px;
}
a.behaviorSelectItem {
	padding-top: 10px;
	padding-bottom: 10px;
}
.behaviorSelectText {
	// display: block;
	max-width: 400px;
	overflow: auto;
	white-space: normal;
}
