@import "pages/variables.scss";

.uploadRow {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.uploadRow > Button {
	margin-right: 4rem;
}

.message {
	line-height: 32px;
	text-align: center;
	vertical-align: middle;
}
