.entityCard {
	background: rgba(255, 255, 255, 0.4);
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	z-index: 0;
	position: relative;
}

.namespace {
	font-size: 12px;
	opacity: 0.6;
}

.propertyWrapper {
	display: flex;
	align-items: flex-start;
}
.propertyHeader {
	min-width: 175px;
}
.topRow {
	display: flex;
	.properties {
		flex: 1 1 auto;

		> div:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

.entityExpansion {
	display: grid;
	grid-template-columns: minmax(40px, 1fr) minmax(40px, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "key value";

	span {
		margin-right: 12px;
		margin-bottom: 12px;
	}
}
