.entityDiscussions {
	padding: 1em;
	width: 80vw !important;
	max-width: 800px;
}
.separator {
	margin-top: -10px;
	margin-bottom: 15px;
	border-bottom: 1px dashed #ccc;
}
.newHeader {
	font-size: 18px;
}
