.scopeHeader {
	display: flex;
	font-size: 18px;
	max-width: 100%;
	margin-bottom: 50px;
	position: relative;
	.icon {
		// position: absolute;
		// left: -40px;
		// top: 8px;
	}
	.avatarComponent {
		flex: 0 0 auto;
		margin-right: 20px;
	}
	.content {
		min-width: 0;
	}
	.title {
		font-weight: 600;
		font-size: 32px;
		line-height: 38px;
		margin-bottom: 7px;
		overflow-wrap: break-word;
		display: flex;
		align-items: baseline;
		flex-wrap: wrap;
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.star {
		margin-left: 15px;
	}
	.profilePrefix {
		opacity: 0.7;
	}
	.privateTag {
		position: relative;
		top: -6px;
		margin-left: 15px;
		font-weight: 400;
	}
	.label {
		margin-right: 1em;
	}

	.description {
		opacity: 0.8;
		margin-top: 12px;
		margin-bottom: 0;
	}
}
