.section {
	margin-bottom: 50px;
	.title {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 14px;
		color: #888;
		letter-spacing: 1px;
		margin-bottom: 15px;
		position: relative;
	}
	.action {
		position: absolute;
		top: 0;
		right: 0;
	}
}
