.section {
	.title {
		text-transform: uppercase;
		font-weight: 500;
		color: #888;
		letter-spacing: 1px;
		margin-bottom: 15px;
	}
	&.margin {
		margin-left: 15px;
		.title {
			margin-left: -15px;
		}
	}
}
