@import "pages/variables.scss";

.scopeHeader {
	position: relative;

	.typeIcon {
		position: absolute;
		left: -40px;
	}
	.avatarComponent {
		float: left;
		margin-right: 20px;
	}
	.title {
		font-weight: 600;
		font-size: 28px;
		line-height: 28px;
		margin-bottom: 7px;
		position: relative;
		top: -5px;
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.details {
		font-size: 16px;
		&.top {
			margin-bottom: 7px;
		}
	}
}
