@import "~normalize-css";
// @import '~@blueprintjs/core/src/blueprint.scss';
@import "./blueprint.scss";
@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

body {
	background-color: $background-color;
	overflow-x: scroll;
	margin: 0;
	padding: 0;
	max-width: 100vw;
	color: #333;
	font-size: 16px;
}

.app {
	max-width: $max-content-width;
	min-width: $min-content-width;

	padding: 0 $gutter-padding;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	#main-content {
		z-index: 1;
		outline: none;
		flex-grow: 1;
	}
}

a {
	text-decoration: underline;
	cursor: pointer;
}

.narrow {
	max-width: 500px;
	margin: 0 auto;
}

.hoverline {
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
