@import "pages/variables.scss";

.docFrame {
	display: grid;
	grid-template-areas:
		"side content"
		". content";
	grid-template-columns: 200px 1fr;
	grid-gap: 2em;
	@include for-mobile {
		grid-template-areas:
			"side"
			"content";
		grid-template-columns: 1fr;
	}
	.sideHeader {
		font-weight: 600;
		margin-bottom: 1em;
	}
	.side {
		grid-area: side;
		border-right: 1px solid #ccc;
		padding-right: 1em;
		padding-bottom: 1em;
		@include for-mobile {
			border-right: 0px solid #ccc;
			border-bottom: 1px solid #ccc;
			padding-right: 0em;
		}
		nav {
			margin-left: -8px;
			a {
				font-weight: 300;
				font-size: 16px;
			}
		}
	}
	.subSection {
		margin-left: 1.5em;
		width: calc(100% - 1.5em);
		position: relative;
		&:before {
			content: "";
			position: absolute;
			width: 1px;
			background: #ccc;
			left: -14px;
			top: -3px;
			bottom: -1px;
		}
	}
	.content {
		grid-area: content;
	}
}
