.primary {
	border-bottom: 1px solid #acacac;
}
.button {
	padding: 5px 20px !important;
	position: relative;
	&:hover,
	&:active {
		background: transparent;
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			bottom: -1px;
			top: calc(100% - 2px);
			background: #aaa;
		}
	}
	&.active {
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			bottom: -1px;
			top: calc(100% - 2px);
			background: black;
		}
	}
}
