.button {
	padding: 5px 20px;
	font-size: 16px;
	border-radius: 0;
	&:hover {
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			bottom: -1px;
			left: 0;
			top: calc(100% - 2px);
			background: #aaa;
		}
	}
	&.active {
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			bottom: -1px;
			left: 0;
			top: calc(100% - 2px);
			background: black;
		}
	}
}
