@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

.editor {
	background-color: white;
	color: #111111;
	max-width: 1024px;

	:global(.cm-scroller) {
		font-family: "Fira Code", monospace;

		// These two values have to be kept in sync with the constants in SchemaViewer.tsx
		font-size: 16px;
		line-height: 1.4;
	}

	@supports (font-variation-settings: normal) {
		:global(.cm-scroller) {
			font-family: "Fira Code VF", monospace;
		}
	}

	:global(.cm-focused) {
		outline: none;
	}

	:global(.cm-tooltip) {
		font-family: "Fira Code", monospace;
		font-size: 0.75em;
	}

	:global(.cm-panel),
	:global(.cm-tooltip) {
		font-family: "Fira Code", monospace;
		font-size: 0.75em;
	}

	:global(.cm-panel-lint) button {
		display: none;
		pointer-events: none;
	}
}
