@import "pages/variables.scss";

.landing {
	max-width: 1024px;
	margin: 0 auto;
	font-weight: 300;
	font-size: 18px;
	.top {
		text-align: center;
		max-width: 600px;
		margin: 0 auto;
		margin-bottom: 125px;
		h1 {
			font-family: "Courier New", Courier, monospace;
			font-weight: 300;
			font-size: 48px;
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 75px;
		}
		input {
			padding: 10px 20px;
			font-size: 18px;
			height: auto !important;
		}
	}
	.bottom {
		font-size: 16px;
		padding: 75px 0px;
		border-top: 1px solid #ccc;
		display: flex;
		justify-content: space-between;
		& > div {
			width: 50%;
			&:first-of-type {
				padding-right: 30px;
			}
			&:last-of-type {
				padding-left: 80px;
			}
		}
		@include for-mobile {
			display: block;
			& > div {
				width: auto;
				margin-bottom: 50px;
				&:first-of-type {
					padding-right: 0px;
				}
				&:last-of-type {
					padding-left: 0px;
				}
			}
		}
	}
	.details {
		p {
			margin-bottom: 20px;
		}
		.logo {
			width: 25px;
			float: left;
			margin-right: 10px;
			position: relative;
			top: 5px;
		}
	}

	.links {
		.linkSection {
			margin-bottom: 15px;
			.sectionTitle {
				font-weight: 600;
				font-size: 14px;
			}
			a {
				margin-right: 25px;
				font-family: "Courier New", Courier, monospace;
				&:not(:last-of-type):after {
					content: ",";
					position: absolute;
				}
			}
		}
	}
}
