.thread {
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
}
.replyCount {
	margin-left: 10px;
	font-style: italic;
	opacity: 0.5;
}
